:root {
    --main-color: rgb(232,0,0);
    --secondary-color: white;
    --whitesmoke:whitesmoke;
  }

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica;
    box-sizing: border-box;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
html {
	font-family: Helvetica;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: black;
    cursor: pointer;
}
a:hover {
	color: var(--main-color);
}
li {
	list-style: none;
	color: black;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.bold {
	font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}


/* Header section */
#toggle {
    display: none;
}
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .nav-list .horizontal .noshown{
    display: none;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: auto;
	padding: 0 10px;
    background-color: #fff;
}
#header .logo {
    display: none;
}

#header h1  {
    display: inline-flex;
    margin-right: 30px;
    padding: 40px;
}

#header .nav-list {
    display: flex;
    align-items: center; 
}
/* Styles for Vertical List */
#header .nav-list .vertical {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-top: 15px;
    margin-right: auto;
}
#header .nav-list .vertical ul li {
    display: block;
}
#header .nav-list .vertical a {
    padding: 0px;
}
/* Styles for Horizontal List */
#header .nav-list .horizontal{
    display: block;
    height: auto;
    margin-left: 100px;
}
#header .nav-list .horizontal li {
    display: inline-block;
}
#header .nav-list ul li a {
    display: block;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    padding: 10px;
}
/* End Header section */

/* home Section */
#home {
	background-image: url(image/Harald_Klangmanufaktur-28.webp);
    background-size: contain;	
    background-position: top center;
	position: relative;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
    justify-content: flex-start;
    padding-top: 300px;
    animation: slide 2s ease-out;
    min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

@keyframes slide {
    from {
        opacity:0 ;
    }
    to {
        opacity:1;
    }
}
.name {
    font-size: 140px;
    font-weight: bold;
    color: var(--secondary-color);
    position: relative;
    padding-left: 20px;
}

.instrument {
    font-size: 50px;
    text-decoration: underline;
    font-weight: 100;
    color: var(--secondary-color);
    padding-left: 20px;

}
.disappear-word {
    animation: fade 1s infinite;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#play {
    cursor: pointer;
    animation: bounce 2s ease-in-out 2; /* 2s duration, ease-in-out timing function, 2 iterations */

}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* End home Section */

.section-title {
    padding-top: 150px;
    padding-left: 80px;
    font-size: 90px;
    font-weight:bold;
    color: var(--main-color);
    text-transform: uppercase;
}
.section-title span {
	color: var(--main-color);
}
.info {
    font-size: 25px;
    font-weight:lighter;
    padding-left: 100px;
    padding-bottom: 20px;
}
.info a {
    text-decoration: none;
}
.info a:hover {
    color: var(--main-color);
}
.bold {
    font-weight: bold;
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: whitesmoke;
  }

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: whitesmoke;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
.swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height:15px;
    background:white;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}


/* projekte categories */
.projectbox {
    display: flex;
    font-size: 20px;
    font-weight:lighter;
    text-align: justify;
    justify-content: center;
}
.projectbox img {
    width: 700px;
    height: auto;
    padding-bottom: 50px;
}
.col-left,
.col-right {
    width: 100%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}
.col-right {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.col-left {
    background-color: whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: column; 
}
.col-right a:hover {
    color:white;
}
.col-left a:hover {
    color: var(--main-color);
}
.back {
    margin-top: 200px;
    margin-right: 50px; /* Adjust the margin as needed */
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.programm li{
    text-align: left;
    padding: 20px;
}
.review {
    font-size: 20px;
    font-style: italic;
}
.review li {
    padding: 20px;
}
.youtube {
    width:560px;
    height: 315px;
}
.spotify {
    width: 560px;
    padding-top: 20px;
}
.no-border {
    border: none;
}

/* news */
#news .news{
    max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Align items at the start of the cross axis (top) */
    justify-content: space-between; 
}
#kinderkonzert-readmore .youtube,
#solo-readmore .youtube {
    width:100%; 
    height:720px;
}
#podcast-readmore iframe {
    width:100%; 
    height:352px;
}
.news-column {
    width: calc(33.33% - 20px);
    height: 570px;
    margin: 0 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-weight:lighter;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
}
.news-image {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#news .date {
    color: #888;
    padding: 5px 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.mehrinfo {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px; 
    text-align: right;
    position: absolute; 
    bottom: 20px;
  }

 .mehrinfo::after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: -5%;
    transition: all 0.3s;
  }
.mehrinfo:hover {
    color:var(--main-color); 
    border-color: var(--main-color); 
  }
.mehrinfo:hover::after {
    background-color: var(--main-color); 
    width:100%;
  }
.mehrinfo::before {
    content: ""; 
    display: inline-block;
    margin-left: 5px; 
    transition: margin-left 0.3s; 
  }
.mehrinfo:hover::after {
    width: 100%;
  }
.mehrinfo:hover::before {
    margin-left: 10px; 
  }
  .fa-solid.fa-arrow-right {
    font-size: 20px; /* Adjust the size as needed */
  }

.readmore-title {
    color: var(--main-color);
    font-size: 70px;
    font-weight: bold;
    padding-top: 160px;
    text-transform: uppercase;
}
.news-projectbox {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
    justify-content: center;
}

.theme {
    font-size: 30px;
    font-weight:bold;
    padding: 20px 0;
}
.newsinfo {
    padding-top: 20px;
    font-size: 20px;
    font-weight:lighter;
    text-align: justify;
    padding-bottom: 50px;
}
.newsback {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#joschostephan .autoplay-progress {
    color: var(--main-color);
}

#termine .upcoming_list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;

}
.mehrinfo
{
    padding: 10px; 
    position: relative; 
    bottom: 0px;
    margin-left: -12px;
    margin-bottom: 60px;
}
.vergangens{
    width: fit-content;
    height: auto;
    background-color:black;
    padding:10px;
}
.searchbox{
    position: relative;
}
.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid var(--main-color);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: var(--main-color);
    outline: none;
    transition: .5s;
}
.searchbox:hover input{
    width: 350px;
    background: var(--whitesmoke);
    border-radius: 10px;
}
.searchbox i{
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: var(--main-color);
    transition: .2s;
}
.searchbox:hover i{
    opacity: 0;
    z-index: -1;
}
.concert {
    width: fit-content;
    height: auto;
    background-color:var(--main-color);
    color: var(--secondary-color);
    padding:5px 10px;
    text-transform: uppercase;
    margin: 10px 0px;
}
.concert-past {
    width: fit-content;
    height: auto;
    background-color:black;
    color: var(--secondary-color);
    padding:5px 10px;
    text-transform: uppercase;
    margin: 10px 0px;
}
.datum {
    font-size: 40px;
    font-weight: bold;
}
.calendar-container ul {
    display: flex;
}
.calendar-container li:nth-child(1){
    padding-right: 10px;
}
.calendar-icon {
    font-size: 15px;
}
.year {
    padding-bottom: 20px;
}